@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
}

.result p {
  font-size: 20px;
}

.Calculadora {
  box-shadow: 6px 8px 15px 0px rgba(0, 0, 0, 0.65);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: black;
  border: 1px solid black;
  padding: 3rem;
  border-radius: 0.4rem;
}
